<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit bootstrap="vendor/autoload.php" 
    backupGlobals="false"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    colors="true"
>
  <testsuites>
    <testsuite name="csrf">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
